body {
  margin: 0;
  background-color: #0f0a19;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1a102b;
}

header a {
  color: #b57aff;
  text-decoration: none;
  margin-left: 15px;
}

.banner {
  height: 400px;
  background: linear-gradient(to right, #0f0a19, transparent),
  url('../images/banner.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.banner h1 {
  font-size: 50px;
}

.section {
  padding: 20px;
}

.row {
  display: flex;
  overflow-x: auto;
}

.card {
  min-width: 200px;
  height: 120px;
  background-color: #2b1c44;
  margin-right: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
